# Server
PORT=8787

# MongoDB
**gmail
sapautomation2026.imt@gmail.com
Sap@imt2026

**monggo DB
sapautomation2026imt_db_user
US72lyMcSz0pdCpQ

MONGODB_URI=mongodb+srv://sapautomation2026imt_db_user:US72lyMcSz0pdCpQ@cluster0.3xw2ti0.mongodb.net/
DB_NAME=sap-automation-poc